  html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    background-color: #eee9de;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
  }

h1 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
p {
  margin-bottom: 1.5rem;
}
a {
  padding: 1em;
  margin-top: 1.5rem;
  border: 2px;
  border-style: solid;
  border-radius: 7px;
  border-width: medium;
  color: #666
}

section {
  display: inline-block;
  color: #333;
  max-width: 25em;
}

img {
  dislpay: inline-block;
}
