  html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    background-color: #eee9de;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
  }

h2 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

p {
  margin-bottom: 3rem;
  text-align: left;

}

a {
  text-decoration: none;
  text-align: left;
  padding: 1em;
  margin-top: 1.5rem;
  border: 2px;
  border-style: solid;
  border-radius: 7px;
  border-width: medium;
  color: #333;
}

a:hover {
  background-color: #666;
}

section {
  display: inline-block;
  vertical-align: top;
  color: #333;
  width: auto;
  max-width: 25em;
}

img {
  display: inline-flex;
  margin-right: 1.5rem;
  width: 320px;
  max-width: 100%;
  vertical-align: middle;
}

body {
  margin: 3rem;
  display: inline-block;
}

div {
  text-align: center;
}
