html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  border-width: 0;
}

h2 {
  margin: .3rem;
  font-family: Lato, sans-serif;
  font-weight: bold;
}

p {
  margin-bottom: 3rem;
  text-align: left;
}

h2 p {
  display: block;
  float: left;
}

.btn {
  text-decoration: none;
  text-align: center;
  padding: 1em;
  margin-top: .25rem;
  border: 1px;
  border-style: solid;
  border-width: medium;
  border-radius: 8px;
  color: #333;
  width: 100%;
}

a .btn {
  display: inline-block;
  float: left;
}

a:hover {
  background-color: #666;
  text-decoration: none;
}

section {
  color: black;
  width: auto;
  max-width: 20em;
  margin: 3rem;
  display: inline-block;
  vertical-align: middle;
}

img {
  width: 720px;
  max-width: 100%;
  margin-right: 1.5rem;
  height: auto;
  display: block;
}

div {
  max-width: 20rem;
  padding: 0;
  margin: 0;
}

nav {
  margin: 0;
  display: inline-block;
  height: auto;
  width: auto;
  vertical-align: middle;
}
